<div>
  <h2 class="heading-component">About BrainSploog</h2>
  <p class="quiz-text-block">
    Indulge your inner master of the utterly mind-numbing and seemingly useless skill of recalling
    TV minutiae. Here at BrainSploog, we celebrate the art of knowing the obscure, the
    inconsequential, and the downright pointless about your favorite television programs.
  </p>
  <p class="quiz-text-block">
    Ever found yourself wondering, "Why do I know the name of the neighbor's rat from that one
    animation in the '00s, but not know how to do CPR right now?!" Well, congratulations, you've
    found your tribe. At BrainSploog, we turn the seemingly pointless into a delightful pursuit.
  </p>

  <p class="quiz-text-block">
    We deliver absurdly specific quizzes that make you question both your life choices and your
    impressive knowledge of irrelevant animation details. We're not just asking about main
    characters; we're asking about the third extra from the left in season three, episode seven.
  </p>
  <p class="quiz-text-block">
    At BrainSploog, we believe that niche knowledge is an utterly useles art form that makes you
    feel good & bad about yourself at the same time. Join fellow aficionados who appreciate
    the beauty of knowing the most obscure quote & references favorite animations.
  </p>
  <p class="quiz-text-block">
    Because why the fuck not? In a world obsessed with surgeons and physics, we celebrate the 'right
    after this episode' winner. Who needs to remember equations and grammer when you can impress
    your friends with the birthdate of a fictional ball of meat from a canceled animation?! Follow
    us on XXXXXXXXXXX for updates on challenges of useless animation trivia and join us on this
    journey to make your brain a repository of the wonderfully pointless. BrainSploog! Where the
    aspiring relapse into failure... gracefully!
  </p>
</div>
