<div>
  <ng-container *ngIf="user$ | async as user; else accessOptions">
    <bs-button class="quiz-btn-alt btn-danger" (click)="logout()">Logout</bs-button>
  </ng-container>
</div>

<ng-template #accessOptions>
  <div class="flex gap-3">
    <bs-button class="quiz-btn-alt btn-default-alt font-main" value="sign-in" (routeChange)="accessEvent($event)">
      Sign In
    </bs-button>
    <bs-button class="quiz-btn-alt btn-default" value="register" (routeChange)="accessEvent($event)">
      Register
    </bs-button>
  </div>
</ng-template>
