<ng-container *ngIf="seasonQuizData$ | async; else error">
  <ng-container *ngTemplateOutlet="quiz"></ng-container>
</ng-container>

<ng-template #quiz>
  <ng-container *ngIf="confirmQuizStart; else quizInit">
    <ng-container *ngTemplateOutlet="quizQuestions"></ng-container>
  </ng-container>
</ng-template>

<ng-template #quizQuestions>
  <ng-container *ngIf="seasonQuizData$ | async as seasonData">
    <ng-container *ngIf="quizBtnState !== 'Finish'">
      <h1>{{ seasonData[questionIndex].question }}</h1>
      <bs-button
        *ngFor="let option of seasonData[questionIndex].options"
        class="quiz-button btn-success"
        (click)="setSelectedAnswer(option)"
        >{{ option }}</bs-button
      >
    </ng-container>
    <ng-container *ngTemplateOutlet="nextQuestionBtn"></ng-container>
  </ng-container>
</ng-template>

<ng-template #quizInit>
  <h2>The timer will begin as soon as you start the quiz etc etc</h2>
  <h2>Press the button below when you are ready to begin.</h2>
  <bs-button class="quiz-button btn-success" (click)="initiateQuiz()">{{ quizBtnState }}</bs-button>
</ng-template>

<ng-template #nextQuestionBtn>
  <bs-button
    class="quiz-button btn-success"
    (click)="quizBtnState === 'Next' ? toggleNext() : toggleComplete()"
    >{{ quizBtnState }}</bs-button
  >
</ng-template>

<ng-template #error>
  <h1>No data available</h1>
</ng-template>
