<ng-container *ngIf="seasonQuizData$ | async; else error">
  <ng-container *ngTemplateOutlet="quiz"></ng-container>
</ng-container>

<ng-template #quiz>
  <ng-container *ngIf="isQuizInProgress; else quizInit">
    <ng-container *ngTemplateOutlet="displayQuizQuestions"></ng-container>
  </ng-container>
</ng-template>

<ng-template #displayQuizQuestions>
  <ng-container
    *ngIf="{ seasonData: seasonQuizData$ | async, quizTimer: quizTimer$ | async } as vm"
  >
    <ng-container *ngIf="quizBtnState !== 'Complete quiz' && !quizCompleted">
      <bs-quiz-timer [quizTimer]="vm.quizTimer"></bs-quiz-timer>

      <h1>{{ vm?.seasonData?.[questionIndex]?.question }}</h1>
      <bs-button
        *ngFor="let option of vm?.seasonData?.[questionIndex]?.options"
        class="quiz-button btn-success"
        (click)="setSelectedAnswer(option)"
        [hidden]="vm?.quizTimer?.isTimeUp"
        >{{ option }}</bs-button
      >
    </ng-container>
    <ng-container *ngTemplateOutlet="result"></ng-container>
    <ng-container *ngTemplateOutlet="nextQuestionBtn"></ng-container>
  </ng-container>
</ng-template>

<ng-template #quizInit>
  <h2>The timer will begin as soon as you start the quiz etc etc</h2>
  <h2>Press the button below when you are ready to begin.</h2>
  <bs-button class="quiz-button btn-success" (click)="initiateQuiz()">{{ quizBtnState }}</bs-button>
</ng-template>

<ng-template #nextQuestionBtn>
  <bs-button
    class="quiz-button btn-success"
    (click)="quizBtnState === 'Next' ? toggleNextQuestion() : toggleQuizComplete()"
    >{{ quizBtnState }}</bs-button
  >
</ng-template>

<ng-template #result>
  <ng-container *ngIf="quizCompleted">
    <p>Your score: {{ userQuizResult }}</p>
    <p>If you have a Profile you can view your results here</p>
  </ng-container>
</ng-template>

<ng-template #error>
  <h1>No data available</h1>
</ng-template>
