<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="heading-component">Edit profile</h2>
  <div class="grid grid-cols-12">
    <div class="quiz-input-field script-text">
      <label>Current username</label>
      <input
        class="quiz-input"
        formControlName="username"
        type="text"
        placeholder="Edit username"
      />
    </div>
  </div>
  <div class="flex gap-3 pt-1">
    <bs-button [disabled]="!form.valid" type="submit" class="quiz-btn btn-info"
      >Update username</bs-button
    >
    <bs-button class="quiz-btn btn-danger-solid" (click)="warnUserBeforeProfileDelete()"
      >Delete profile</bs-button
    >
  </div>
</form>
<bs-delete-notification [isModalOpen$]="isModalOpen$"></bs-delete-notification>
