<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="heading-component">Edit profile</h2>
  <div class="grid grid-cols-12">
    <div class="quiz-input-field script-text">
      <label>Current username</label>
      <input
        class="quiz-input"
        formControlName="username"
        type="text"
        placeholder="Edit username"
        (keyup)="hasUsernameChanged"
      />
    </div>
  </div>
  <div class="flex gap-3 pt-1 justify-between md:justify-normal ">
    <bs-button [disabled]="!form.valid || !hasUsernameChanged" type="submit" class="quiz-btn btn-info"
    [ngClass]="{'flex-1 text-center': isMobile}"
      >Update username</bs-button
    >
    <bs-button class="quiz-btn btn-danger-solid "
    [ngClass]="{'flex-1 text-center': isMobile}"
    (click)="warnUserBeforeProfileDelete();"
      >Delete profile</bs-button
    >
  </div>
</form>
<bs-delete-notification [isModalOpen$]="isModalOpen$"></bs-delete-notification>
