<div class="min-h-screen">
<ng-container *ngIf="seasonQuizData$ | async; else dataError">
  <ng-container *ngIf="isQuizInProgress; else quizInit">
    <ng-container *ngTemplateOutlet="quizQuestionFlow"></ng-container>
  </ng-container>
</ng-container>
</div>
<ng-template #quizQuestionFlow>
  <ng-container
    *ngIf="{ seasonData: seasonQuizData$ | async, quizTimer: quizTimer$ | async } as vm"
  >
    <ng-container *ngIf="quizBtnState !== 'View my result' && !quizCompleted; else quizComplete">
      <section class="flex flex-col script-text">
        <bs-quiz-timer [quizTimer]="vm.quizTimer"></bs-quiz-timer>
        <bs-quiz-question-header
          [title]="title"
          [seasonParam]="seasonParam"
          [questionIndex]="questionIndex"
          [numberOfQuestions]="numberOfQuestions"
        ></bs-quiz-question-header>
        <ng-container *ngIf="vm">
          <bs-quiz-question
            #selectedAnswer
            [data]="vm?.seasonData"
            [timer]="vm?.quizTimer"
            [quizBtnState]="quizBtnState"
            [questionIndex]="questionIndex"
            (emitSetSelectedAnswer)="setSelectedAnswer($event)"
            (emitResetAnswers)="resetAnswer($event)"
          ></bs-quiz-question>
        </ng-container>
      </section>
    </ng-container>
    <ng-container *ngTemplateOutlet="quizResult"></ng-container>
    <ng-container *ngTemplateOutlet="nextQuestionButton"></ng-container>
  </ng-container>
</ng-template>

<ng-template #quizInit>
  <bs-quiz-intro
    [title]="title"
    [isMobile]="isMobile"
    [seasonParam]="seasonParam"
    [quizBtnState]="quizBtnState"
    [showIdParam]="showIdParam"
    (onInitiateQuizClick)="initiateQuiz()"
  ></bs-quiz-intro>
</ng-template>

<ng-template #nextQuestionButton>
  <bs-next-question
    [quizBtnState]="quizBtnState"
    (emitToggleNext)="toggleNextQuestion()"
    (emitToggleQuizComplete)="toggleQuizComplete()"
  ></bs-next-question>
</ng-template>

<ng-template #quizResult>
  <bs-quiz-result
    [userData$]="userData$"
    [userExists$]="userExists$"
    [quizCompleted]="quizCompleted"
    [userQuizResult]="userQuizResult"
  ></bs-quiz-result>
</ng-template>

<ng-template #quizComplete>
  <bs-quiz-complete
    [title]="title"
    [seasonParam]="seasonParam"
    [quizCompleted]="quizCompleted"
  ></bs-quiz-complete>
</ng-template>

<ng-template #dataError>
  <bs-data-error [route]="'/shows/' + showIdParam"></bs-data-error>
</ng-template>

<bs-achievement-notification></bs-achievement-notification>
