<section class="h-full">
<div class="py-6">
  <h2 class="heading-secondary pb-2">{{ title | presentAsTitle }}</h2>
  <p class="preface">Season {{ seasonParam }}</p>
</div>
<div>
  <p class="quiz-text-block pb-1">Quiz guidelines:</p>
  <ul class="script-text">
    <li class="list-item list-disc list-inside">
      You'll have 30 seconds to answer each question.
    </li>
    <li class="list-item list-disc list-inside">
      Ensure you select or submit an answer before the timer ends.
    </li>
    <li class="list-item list-disc list-inside">
      If you refresh or navigate away, all progress will be lost and attempt discarded.
    </li>
    <li class="list-item list-disc list-inside">
      If you have an account, you can view all results in your profile.
    </li>
  </ul>
</div>
<p class="quiz-text-block my-3">Whenever you're ready... Good luck!</p>
<div class="inline-flex">
  <bs-button class="quiz-btn btn-default-solid" (click)="emitOnInitiateQuizClick()">
    {{ quizBtnState }}
  </bs-button>
  <bs-button
    class="quiz-btn btn-default-alt ml-3"
    [routerLink]="'/' + Paths.HOME + '/' + showIdParam"
  >
    Go back
  </bs-button>
</div>
</section>
