<ng-container *ngIf="isModalOpen$ | async as isModalOpen">
  <div *bsModal="isModalOpen; let modal = modal" class="modal-container">
    <div class="modal-container__modal">
      <div class="flex justify-end">
        <mat-icon class="cursor-pointer hover:text-qz-pink-alt" (click)="modal.close()"
          >clear</mat-icon
        >
      </div>
      <div class="quiz-text-block pt-2 flex flex-col gap-3">
        <p>
          <span class="text-qz-red-alt">Warning!</span>
          Deleting your profile will permanently remove all your account information and data. This
          action is irreversible and if you proceed, you will lose access to your account, and all
          associated data will be deleted.
        </p>
        <p>
          If you are sure you want to delete your profile, click 'Delete.' To cancel and keep your
          account, click 'Cancel.
        </p>
      </div>
      <div class="flex gap-3 pt-6">
        <button (click)="modal.close()" class="quiz-btn btn-default-alt">Cancel</button>
        <button (click)="modal.confirmDeleteUser()" class="quiz-btn btn-danger-solid">Delete</button>
      </div>
    </div>
  </div>
</ng-container>
