$qz-yellow: theme('colors.qz-yellow');
$qz-orange: theme('colors.qz-orange');
$qz-green: theme('colors.qz-green');
$qz-blue: theme('colors.qz-blue');
$qz-pink: theme('colors.qz-pink');
$qz-red: theme('colors.qz-red');
$qz-red-op: theme('colors.qz-red-op');
$qz-red-op-l: theme('colors.qz-red-op-l');
$qz-blue-op: theme('colors.qz-blue-op');
$qz-blue-op-l: theme('colors.qz-blue-op-l');
$qz-pink-op: theme('colors.qz-pink-op');
$qz-pink-op-l: theme('colors.qz-pink-op-l');
$qz-green-op: theme('colors.qz-green-op');
$qz-green-op-l: theme('colors.qz-green-op-l');
$qz-yellow-op: theme('colors.qz-yellow-op');
$qz-orange-op: theme('colors.qz-orange-op');
$qz-yellow-op-l: theme('colors.qz-yellow-op-l');
$qz-orange-op-l: theme('colors.qz-orange-op-l');
$qz-yellow-alt: theme('colors.qz-yellow-alt');
$qz-orange-alt: theme('colors.qz-orange-alt');
$qz-pink-alt: theme('colors.qz-pink-alt');
$qz-red-alt: theme('colors.qz-red-alt');
$qz-blue-alt: theme('colors.qz-blue-alt');
$qz-green-alt: theme('colors.qz-green-alt');
