<ng-template #empty>
  <p class="pt-6 script-text">
    No achievements currently exist, so
    <a class="cursor-pointer link-text" [routerLink]="[Paths.EMPTY]">get quizzin'!</a>
  </p>
</ng-template>

<ng-container *ngIf="achievements.length; else empty">
  <table class="w-full border rounded-lg mt-6 script-text border-separate !border-gray-300">
    <thead>
      <tr class="text-lg">
        <th class="py-3 px-4 text-left border-b" *ngIf="!isMobile">Date</th>
        <th class="py-3 px-4 text-left border-b">Show</th>
        <th class="py-3 px-4 text-left border-b">Season</th>
        <th class="py-3 px-4 text-left border-b">Score</th>
        <th class="py-3 px-4 text-left border-b" *ngIf="!isMobile">Redo</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="border-t border-blue-gray-200 hover:bg-qz-blue-op-l"
        *ngFor="let achievement of achievements"
        (click)="
          isMobile ?  attemptRedoOfSelectedAchievement(achievement.showId, achievement.season, achievement.show) : null
        "
      >
        <td class="py-3 px-4 w-1/4 text-gray-400" *ngIf="!isMobile">
          {{ achievement.date | date }}
        </td>
        <td class="py-3 px-4 w-1/4">{{ achievement.show | presentAsTitle }}</td>
        <td class="py-3 px-4 w-1/4">{{ achievement.season }}</td>
        <td class="py-3 px-4 w-1/4">{{ achievement.score }}%</td>
        <td class="py-3 px-4" *ngIf="!isMobile">
          <bs-button
            class="quiz-btn btn-quiz-attempt flex items-center"
            (click)="
              attemptRedoOfSelectedAchievement(
                achievement.showId,
                achievement.season,
                achievement.show
              )
            "
          >
            <mat-icon class="mt-1.5">loop</mat-icon>
          </bs-button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
