<ng-container *ngTemplateOutlet="seasons"></ng-container>

<ng-template #seasons>
  <ng-container *ngIf="selectedShow$ | async as show; else error">
    <pre>{{ show | json }}</pre>
    <h1>{{ show.title | presentAsTitle }}</h1>
    <p>{{ show.info }}</p>
    <bs-button
      *ngFor="let season of numberOfSeasons"
      class="quiz-button btn-success"
      (click)="setAttemptBtnWithSelectedSeason(season)"
    >
      Season {{ season }}
    </bs-button>
    <ng-container *ngTemplateOutlet="quizStart; context: { show }"></ng-container>
  </ng-container>
</ng-template>

<ng-template #quizStart let-show="show">
  <ng-container *ngIf="selectedSeason">
    <bs-button (click)="navigateToQuizAttempt(show)" class="quiz-button btn-success"
      >Attempt season {{ selectedSeason }} quiz</bs-button
    >
  </ng-container>
</ng-template>

<ng-template #error>
  <div>No Document Found</div>
</ng-template>
