<ng-container *ngTemplateOutlet="seasons"></ng-container>

<ng-template #seasons>
  <ng-container *ngIf="selectedShow$ | async as show; else error">
    <div class="py-6">
      <h2 class="heading-secondary pb-2">{{ show.title | presentAsTitle }}</h2>
      <p class="preface">{{ show.preface }}</p>
    </div>
    <p class="quiz-text-block">{{ show.info }}</p>
    <div class="flex gap-3 pt-2">
      <bs-button
        *ngFor="let season of numberOfSeasons"
        class="quiz-btn btn-quiz-season"
        (click)="setAttemptBtnWithSelectedSeason(season)"
      >
        Season {{ season }}
      </bs-button>
    </div>
    <ng-container *ngTemplateOutlet="quizStart; context: { show }"></ng-container>
  </ng-container>
</ng-template>

<ng-template #quizStart let-show="show">
  <ng-container *ngIf="selectedSeason">
    <bs-button
      (click)="navigateToQuizAttempt(show)"
      class="quiz-btn btn-default-solid inline-flex my-4"
      >Attempt season {{ selectedSeason }} quiz</bs-button
    >
  </ng-container>
</ng-template>

<ng-template #error>
  <bs-data-error message="No data exists, try refreshing."></bs-data-error>
</ng-template>
