@import "../colors";

button {
  padding: 1rem 2rem;
  background: none;
  border: 1px solid $primary;
  background: $primary;
  color: $primary;

  &:hover {
    border: 1px solid $primary-dark;
    background: $primary-dark;
    color: $primary-dark;
  }
  &:focus {
    border: 1px solid $primary-light;
    background: $primary-light;
    color: $primary-light;
    outline: none;
  }
  &:active {
    border: 1px solid $secondary;
    background: $secondary;
    color: $secondary;
  }
}
