<ng-container *ngIf="user$ | async as user; else portal">
  <h1>You're currently signed in</h1>
</ng-container>

<ng-template #portal>
  <form [formGroup]="form" (ngSubmit)="path === Paths.SIGN_IN ? signInUser() : registerUser()">
    <h2 class="heading-component">{{ currentForm }}</h2>
    <div class="grid grid-cols-12 gap-2">
      <ng-container *ngIf="path === Paths.REGISTER">
        <div class="quiz-input-field script-text">
          <label for="">Username</label>
          <input formControlName="username" placeholder="Optional" type="text" class="quiz-input" />
        </div>
      </ng-container>
      <div class="quiz-input-field script-text">
        <label for="">Email</label>
        <input formControlName="email" type="text" class="quiz-input" />
      </div>
      <div class="quiz-input-field script-text">
        <label for="">Password</label>
        <input formControlName="password" type="password" class="quiz-input" />
      </div>
    </div>
    <div class="flex items-center justify-between">
      <bs-button
        type="submit"
        [disabled]="!form.valid"
        [ngClass]="!form.valid ? 'quiz-btn-alt disabled' : 'quiz-btn-alt btn-default-alt'"
      >
        {{ currentForm }}
      </bs-button>
      <a
        *ngIf="path === Paths.SIGN_IN"
        [routerLink]="['/' + Paths.AUTH + '/' + Paths.RESET_PW]"
        class="cursor-pointer link-text"
        >Reset password</a
      >
    </div>
    <ng-container *ngIf="authError$ | async as authError">
      <p class="error-text pt-3 flex items-center gap-1">
        <mat-icon>error_outline</mat-icon>
        {{ authError }}
      </p>
    </ng-container>
  </form>
</ng-template>
