<ng-container *ngIf="toast$ | async as toast">
  <ng-container *ngIf="toast.isVisible">
    <div
      *bsToast="toast.isVisible"
      [class]="'toast-component'"
      class="toast"
      [ngClass]="'toast-' + toast.displayStyle"
    >
      <div class="flex gap-2">
        <ng-container [ngSwitch]="toast.displayStyle">
          <mat-icon *ngSwitchCase="toastType.INFO">info</mat-icon>
          <mat-icon *ngSwitchCase="toastType.WARNING">warning</mat-icon>
          <mat-icon *ngSwitchCase="toastType.ERROR">error</mat-icon>
          <mat-icon *ngSwitchCase="toastType.SUCCESS">check</mat-icon>
        </ng-container>
        <p>{{ toast.message }}</p>
      </div>
      <mat-icon (click)="acknowledgeToast()" class="ml-6 mr-3 cursor-pointer hover:text-white">highlight_off</mat-icon>
    </div>
  </ng-container>
</ng-container>
