<div class="flex justify-center flex-col md:flex-row quiz-font-script py-9 gap-6 items-center">
  <div class="flex flex-col gap-4">
    <h2 class="text-6xl quiz-font-main text-qz-pink-alt">4-OH-4!</h2>
    <p class="text-xl text-gray-700 text-center md:text-left">Wrong turn buddy, looks like this page doesn't exist!</p>
    <a [routerLink]="[Paths.EMPTY]" class="link-text text-center md:text-left">Okay, take me home.</a>
  </div>
  <img width="200px" height="100%" class="" src="../../../../assets/images/404.png" alt="404 image">
</div>
