<h2 class="heading-component">Reset password</h2>
<form [formGroup]="form" (ngSubmit)="requestResetPassword()" class="flex-col gap-2 py-2">
  <div class="grid grid-cols-12 gap-2">
    <div class="quiz-input-field script-text">
      <label for="">Email:</label>
      <input class="quiz-input" formControlName="email" type="text" />
    </div>
  </div>
  <bs-button
    type="submit"
    [disabled]="!form.valid"
    [ngClass]="!form.valid ? 'quiz-btn disabled' : 'quiz-btn btn-info'"
  >
    Reset password
  </bs-button>
</form>

<ng-container *ngIf="error$ | async as error">
  <p class="error-text pt-3 flex items-center gap-1">
    <mat-icon>error_outline</mat-icon>
    {{ error }}
  </p>
</ng-container>
