<div class="min-h-screen">
  <h2 class="heading-component">Profile</h2>
  <ng-container *ngIf="userData$ | async as data; else loading">
    <ng-container *ngTemplateOutlet="profile; context: { data }"></ng-container>
    <ng-container *ngTemplateOutlet="achievements; context: { data }"></ng-container>
  </ng-container>
</div>
<ng-template #profile let-data="data">
  <div data-testid="profile-wrapper">
    <div class="flex justify-between items-center">
      <p class="heading-secondary border-b border-gray-300 !text-qz-pink-alt flex-grow pb-1">
        Hello, {{ data.username }}
      </p>
      <img
        width="100px"
        class="rounded-lg border border-gray-300 p-1"
        [src]="data.avatar"
        alt="User avatar"
      />
    </div>
    <div class="flex justify-between pt-6 gap-3">
      <div class="flex items-center gap-1 script-text border-b">
        <span>Achievements</span>
        <mat-icon class="flex justify-start">expand_more</mat-icon>
      </div>
      <a
        class="quiz-btn btn-info"
        [routerLink]="[Paths.EDIT]"
        [ngClass]="{ 'flex-1 text-center': isMobile }"
        [queryParams]="{ username: data.username }"
        >Edit profile</a
      >
    </div>
  </div>
</ng-template>

<ng-template #achievements let-data="data">
  <bs-achievements [isMobile]="isMobile" [achievements]="data.achievements"></bs-achievements>
</ng-template>

<ng-template #loading>
  <bs-loader></bs-loader>
</ng-template>
