@import './styles/_colors.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply box-border m-0 p-0;
}



// Fonts
@font-face {
  font-family: 'script';
  src: url('./assets/fonts/Figtree/Figtree-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'main';
  src: url('./assets/fonts/Silkscreen/Silkscreen-Regular.ttf');
}

table {
  border-radius: 20px;
}

.quiz-font-main {
  font-family: 'main';
}

.quiz-font-script {
  font-family: 'script';
}

.line-height-text-body {
  line-height: 1.75rem;
}

// Containers
.quiz-main-container {
  @apply mx-auto max-w-5xl px-2 sm:px-6 lg:px-8;
}

// Buttons
.quiz-btn {
  @apply px-3 py-1 rounded-md text-sm font-medium border cursor-pointer focus:outline-none focus:ring transition font-normal hover:shadow-md;
}

.disabled {
  @apply cursor-not-allowed text-gray-300 border-gray-300;
}

// Button Colors
.btn-default {
  @apply text-qz-pink-alt border-qz-pink-alt hover:text-white hover:bg-qz-pink-alt;
}

.btn-default-solid {
  @apply text-white border-qz-pink-alt bg-qz-pink-alt hover:bg-qz-pink hover:border-qz-pink;
}

.btn-default-alt {
  @apply text-gray-900 border-gray-900 hover:text-white hover:bg-gray-900;
}

.btn-default-alt-solid {
  @apply text-white border-gray-900 bg-gray-900 hover:bg-gray-700;
}

.btn-success {
  @apply text-qz-green-alt border-qz-green-alt hover:text-white hover:bg-qz-green-alt;
}

.btn-danger {
  @apply text-qz-red-alt border-qz-red-alt hover:text-white hover:bg-qz-red-alt;
}

.btn-danger-solid {
  @apply text-white bg-qz-red-alt border-qz-red-alt hover:text-white hover:bg-red-700 hover:border-red-700;
}

.btn-info {
  @apply text-qz-blue-alt border-qz-blue-alt hover:text-white hover:bg-qz-blue-alt;
}

.btn-quiz-season {
  @apply text-qz-blue-alt border-qz-blue-alt hover:text-white hover:bg-qz-blue-alt focus:bg-qz-blue-alt focus-within:bg-qz-blue-alt focus-within:text-white;
}

.btn-quiz-attempt {
  @apply text-white bg-qz-pink border-qz-pink hover:text-white hover:bg-qz-pink-alt hover:border-qz-pink-alt;
}

// Text
.heading-component {
  @apply text-2xl py-6 text-gray-600 quiz-font-script;
}

.heading-secondary {
  @apply text-xl text-gray-600 quiz-font-script;
}

.script-text {
  @apply text-gray-600 quiz-font-script;
}

.error-text {
  @apply text-qz-red quiz-font-script;
}

.quiz-text-block {
  @apply text-gray-600 quiz-font-script line-height-text-body;
}

.link-text {
  @apply text-qz-blue-alt quiz-font-script underline;
}

.preface {
  @apply text-lg text-gray-500 quiz-font-script italic;
}


// Input
.quiz-input {
  @apply px-2 py-1 mb-4  border rounded-md font-medium focus:outline-none focus:border-qz-blue;
}

// Form
.quiz-input-field {
  @apply quiz-font-script gap-2 col-span-6 flex flex-col;
}

// Toast

.toast {
  @apply absolute right-8 top-9 py-2.5 px-4 border rounded-lg flex gap-2 shadow-lg;
}

.toast-success {
  @apply bg-qz-green-op text-qz-green-alt;
}
.toast-info {
  @apply bg-qz-blue-op text-qz-blue-alt;
}
.toast-warning {
  @apply bg-qz-yellow-op text-qz-yellow-alt;
}
.toast-error {
  @apply bg-qz-red-op text-qz-red-alt;
}

// Tooltip
.quiz-tooltip {
  @apply absolute -top-8 right-0 left-0 z-10 p-2 w-full  text-white bg-gray-300 opacity-80 rounded-md shadow-lg text-gray-800;
}
