@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  @apply box-border m-0 p-0;
}


// Fonts
@font-face {
  font-family: "script";
  src: url("./assets/fonts/Figtree/Figtree-VariableFont_wght.ttf");
}

@font-face {
  font-family: "main";
  src: url("./assets/fonts/Silkscreen/Silkscreen-Regular.ttf");
}

.quiz-font-main {
  font-family: 'main';
}

.quiz-font-script {
  font-family: 'script';
}

.line-height-text-body {
  line-height: 1.75rem;
}

// Containers
.quiz-main-container {
  @apply mx-auto max-w-5xl px-2 sm:px-6 lg:px-8;
}

// Buttons
.quiz-btn {
  @apply px-4 py-2 rounded-md text-sm font-medium border focus:outline-none focus:ring transition;
}

.quiz-btn-alt {
  @apply px-3 py-1 rounded-md text-sm font-medium border focus:outline-none focus:ring transition;
}

.disabled {
  @apply cursor-not-allowed text-gray-300 border-gray-300;
}

// Button Colors
.btn-default {
  @apply  text-pink-400 border-pink-400 hover:text-white hover:bg-pink-400;
}

.btn-default-alt {
  @apply  text-gray-900 border-gray-900 hover:text-white hover:bg-gray-900;
}


.btn-success {
  @apply  text-green-400 border-green-400 hover:text-white hover:bg-green-400;
}

.btn-danger {
  @apply  text-red-400 border-red-400 hover:text-gray-600 hover:bg-red-400;
}

.btn-info {
  @apply  text-blue-400 border-blue-400 hover:text-gray-600 hover:bg-blue-400;
}


// Text
.heading-secondary {
  @apply text-2xl py-6 text-gray-600 quiz-font-script;
}

.navigation-text {
  @apply text-gray-600 quiz-font-script;
}

.quiz-text-block {
  @apply text-gray-600 quiz-font-script py-2 line-height-text-body;
}

.link-text {
  @apply text-blue-600 quiz-font-script underline;
}

// Input
.quiz-input {
  @apply px-2 py-1 mb-4 border rounded-md font-medium focus:outline-none focus:border-pink-300;
}

// Form
.quiz-input-field {
  @apply quiz-font-script gap-2 col-span-6 flex flex-col;
}
