$base: pink;
$base-dark: rgb(241, 108, 130);
$base-light: rgb(255, 236, 239);

$primary: blue;
$primary-dark: rgb(0, 0, 150);
$primary-light: rgb(142, 142, 192);

$secondary: yellow;
$secondary-dark: rgb(177, 177, 1);
$secondary-light: rgb(249, 249, 166);

$error: tomato;
$error-dark: red;
$error-light: pink;

$success: yellowgreen;
$success-dark: green;
$success-light: rgb(216, 255, 137);
