.p-025 {
  padding: 0.25rem;
}
.p-05 {
  padding: 0.5rem;

}
.p-075 {
  padding: 0.75rem;

}
.p-1 {
  padding: 1rem;

}
.p-125 {
  padding: 1.25rem;

}
.p-15 {
  padding: 1.5rem;

}
.p-175 {
  padding: 1.75rem;

}
.p-2 {
  padding: 2rem;

}
.p-225 {
  padding: 2.25rem;

}
.p-25 {
  padding: 2.5rem;

}
.p-275 {
  padding: 2.75rem;

}
.p-3 {
  padding: 3rem;

}
.p-325 {
  padding: 3.25rem;

}
.p-35 {
  padding: 3.5rem;

}
.p-375 {
  padding: 3.75rem;

}
